.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-text-1 {
  margin: 188px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 113px 708px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 205px 350px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -42px auto 60px 307px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 508px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 288px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 124px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}